.header {
  //라운지 로고
  .hd-main-menu__logo {
    a {
      display: inline-block;
      width: 160px;
      height: 106px;
      text-indent: -9999em;
      background-image: url('../img/logo_lounge.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 160px;
    }
  }

  //서브메뉴
  .hd-sub-menu {
    position: absolute;
    top: .5rem;
    right: 0;
    ul {
      overflow: hidden;
      li {
        float: left;
        margin-left: 10px;
        &:nth-child(1) {
          margin-left: 0;
        }
        a {
          font-size: .75rem;
          font-weight: normal;
          vertical-align: middle;
          line-height: 2.5;
        }
        //벅스뮤직 로고
        &.hd-sub-main__logo a {
          display: inline-block;
          width: 38px;
          height: 27px;
          background-image: url('../img/logo_bugs.png');
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: 38px;
          text-indent: -9999em;
        }
      }
    }
  }

  //메인메뉴
  .hd-main-menu {
    ul {
      position: absolute;
      top: 55px;
      right: 0;
      overflow: hidden;

      li {
        float: left;
        margin-left: 45px;

        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }

}
