/**
 * Created by Sora Jeon on 2018. 09. 11.
 * Github : http://github.com/jsoraking
 */

$black: #000000; //기본컬러
$white: #ffffff;
$grey: #464646; //본문에 주로 사용
$lgrey: #a9a9a9; //옅은 회색(light grey)
$red: #f74242; //경고,오류등에 사용되는 빨간색

//폰트
$kor: 'Noto Sans KR', sans-serif;

//자주사용하는 변수
$nor: no-repeat; //background-repeat: no-repeat;
$center: 50% 50%; //background-position: 50% 50%;